.timeField {
    width: 120px;
}

.attendence-table {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
  }


.radioBtn {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    size: 18px;
}

.fullbody {
    margin-left: 10%;
    margin-right: 10%;
}

.addDate {

}