@media print {

    @page
    {
     size: A4;
     size: portrait;
   }

    body {visibility:hidden;}

    .print {visibility:visible;}

    .print {
        position: absolute;
        top: 0;
        left: 0px;
    }
    
}

.printButtons {
    background-color: rgb(231, 226, 226);
    padding: 15px;
    margin-right: auto;
}